<div class="o-container">
  <div class="o-footer">
    <p>
      <a href="https://heypresents.com">Hey! Presents</a>
      ·
      <a href="https://twitter.com/heypresents">Twitter</a>
      ·
      <a href="https://www.meetup.com/heypresents">Meetup</a>
    </p>
  </div>
</div>
