<div class="o-container">
  <div class="o-footer">
    <p>
      <a href="https://heyst.ac">Hey!</a>
      路
      <a href="https://twitter.com/hey_stac">Twitter</a>
      路
      <a href="https://instagram.com/hey_stac">Instagram</a>
      路
      <a href="https://www.youtube.com/user/heystacevents">YouTube</a>
      路
      <a href="https://www.meetup.com/HeyEvents">Meetup</a>
    </p>
  </div>
</div>
