<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta %}
  </head>
  <body>
    <div class="o-container">
      <a href="/">
        <svg height="70" viewBox="0 0 474 474" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M236.58 473.16C367.24 473.16 473.16 367.24 473.16 236.58C473.16 105.92 367.24 0 236.58 0C105.92 0 0 105.92 0 236.58C0 367.24 105.92 473.16 236.58 473.16Z" fill="#FF4C00"/>
          <path d="M83.1899 181.36H99.9399V223.86H143.05V181.36H159.8V288H143.05V239.85H99.9399V288H83.1899V181.36Z" fill="white"/>
          <path d="M183.57 181.36H249.57V197.36H200.37V223.87H245.1V239.87H200.32V272H249.52V288H183.52L183.57 181.36Z" fill="white"/>
          <path d="M301.69 241.68L267.57 181.36H285.24L309.91 226.6L334.43 181.36H353.17L318.17 242.13V288H301.69V241.68Z" fill="white"/>
          <path d="M381.43 257.55C384.225 257.546 386.996 258.065 389.6 259.08V259.08V181.37H373.26V259.08C375.864 258.063 378.635 257.544 381.43 257.55Z" fill="white"/>
          <path d="M381.43 290.26C387.008 290.26 391.53 285.738 391.53 280.16C391.53 274.582 387.008 270.06 381.43 270.06C375.852 270.06 371.33 274.582 371.33 280.16C371.33 285.738 375.852 290.26 381.43 290.26Z" fill="white"/>
        </svg>
      </a>

      <ul class="o-links">
        {% for link in links reversed %}
          <li class="o-links__item">
            <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% include footer %}
  </body>
</html>
