.o-links {
  list-style: none;

  li a {
    border-bottom: 1px #eee solid;
  }

  li:last-child a {
    border: none;
  }
}

.o-links__item {
  a {
    display: block;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    font-weight: 300;
    font-size: 1.4em;
  }
}
