.o-links {
  list-style: none;
}

.o-links__item {
  a {
    display: block;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    font-size: 1.4em;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: $color-text;
  }
}
